body {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.dark {
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
}

.grey {
    background-color: #E5E7EB;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 150px;
}

.logo {
    font-size: 24px;
    color: #F9FaF8;
}

.header ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.signup {
    margin: 50px 100px;
}

.signup-container {
    display: flex;
    justify-content: center;
    background-color:rgb(9, 109, 156);
    align-items: center;
    padding: 10px 0;
    border-radius: 20px;
    color: white;
}

.signup-container .text {
    flex: 3;
    text-align: left;
    margin-left: 40px;
}

.signup-container .button {
    flex: 1;
    margin-right: 40px;
}

