body {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.dark {
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
}

.grey {
    background-color: #E5E7EB;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 150px;
}

.logo {
    font-size: 24px;
    color: #F9FaF8;
}

.header ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.quote {
    padding: 30px 400px;
}

.quote p {
    text-align: left;
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    margin-bottom: 0;
}

.quote h5 {
    text-align: right;
    font-size: 20px;
    margin-top: 10px;
}

.signup {
    display: flex;
    margin: 50px 300px;
    justify-content: center;
    background-color:rgb(9, 109, 156);
    align-items: center;
    padding: 20px 0;
    border-radius: 20px;
    color: white;
}

.signup .text {
    flex: 3;
    text-align: left;
    margin-left: 40px;
    font-size: 30px;
}

.signup .button {
    flex: 1;
    height: 50px;
    width: 50px;
    margin-right: 40px;
    border: 2px solid white;
    text-decoration: none;
    background-color: blue;
    cursor: pointer;
}

.signup-header {
    font-weight: 1000;
    margin-bottom: 10px;
}

.signup-footer {
    margin-top: 10px;
}

